@media (max-width: 720px) {
  .header__banner {
    height: 160px; }
  .header__banner--title {
    margin: 0;
    font-size: 2.5rem; }
  .main__cover--carouselImage {
    width: 300px; }
  .main__homeParagraph {
    font-size: 1.3rem;
    padding: 6px; }
  .footer__list--icons {
    width: 20px;
    padding: 1px; } }

@media (min-width: 1450px) {
  .header__banner {
    background-repeat: no-repeat;
    width: 1450px;
    margin-left: -1450px;
    left: 100%; }
    .header__banner .header__banner--title {
      position: relative; } }

.biography {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 50px; }
  .biography .biography__title {
    font-family: Parisienne-Regular;
    font-size: 2.5rem;
    color: white;
    text-shadow: 1px 1px 3px black;
    color: white;
    padding: 20px; }
  .biography .biography__paragraph {
    font-size: 15px;
    color: #e2e2e2;
    text-shadow: 5px 5px 8px black;
    padding: 15px 0px 25px 0px; }

.footer {
  background-color: #212529;
  border: 1px solid black;
  color: white; }
  .footer .footer__author--links, .footer .footer__list--links {
    color: rgba(255, 255, 255, 0.75);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; }
  .footer .footer__list {
    position: fixed;
    padding: 10px;
    bottom: 200px;
    right: 0;
    background-color: #212529;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px; }
  .footer .footer__list--items {
    display: block;
    z-index: 100; }
  .footer .footer__list--icons {
    width: 30px;
    padding: 2px; }
  .footer .footer__list--icons:hover {
    width: 35px; }
  .footer a:hover {
    color: white; }

body {
  background-image: url("../media/fondo.jpg");
  background-repeat: repeat;
  margin: 0px;
  padding: 0px; }
  body header {
    background-color: #0a0701; }
  body .header__banner {
    background-image: url("../media/header.jpg");
    position: relative;
    height: 250px;
    display: flex;
    align-self: center;
    justify-self: center;
    border-bottom: 2px solid black; }
  body .header__banner--title {
    font-family: Parisienne-Regular;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 50px;
    margin-top: 30px;
    animation-name: titleAnimation;
    animation-duration: 2s; }

@keyframes titleAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
  body .header__navBar {
    width: 100%; }

main .main__musicPlayer--controls {
  width: 100%;
  height: 20px; }

main .main__cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  margin-bottom: 50px;
  animation-name: slideCover;
  animation-duration: 1s; }

@keyframes slideCover {
  0% {
    position: relative;
    right: 100%; }
  100% {
    position: relative;
    right: 0%; } }

main .main__cover--carouselImage {
  border: 5px solid;
  margin: 20px;
  border-color: #212529;
  animation-name: fadeCoverImage;
  animation-duration: 2s; }

@keyframes fadeCoverImage {
  0% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }

main .main__homeParagraph {
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  width: 600px;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  color: white; }

main .main__homeParagraph--quoteSource {
  text-align: right;
  font-size: 1.3rem; }

.literature .literature__container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin: 40px 0;
  position: relative;
  border-top: 2px solid #212529;
  border-bottom: 2px solid #212529; }

.literature .literature__container--bookImg {
  width: 20%; }
  .literature .literature__container--bookImg img {
    width: 150px;
    height: 238px;
    margin-left: 50px;
    border: 3px solid #212529; }

.literature .literature__container--bookDesc {
  color: white;
  text-shadow: 5px 5px 10px black;
  width: 70%; }
  .literature .literature__container--bookDesc .literature__container__bookDesc--info {
    font-size: 1.3em;
    background-color: #212529;
    border-radius: 5px;
    color: darkgrey;
    border: 2px solid darkgray;
    text-decoration: none;
    padding: 0px 5px;
    text-shadow: 0px 0px 0px;
    position: absolute;
    top: 80%;
    left: 80%; }
  .literature .literature__container--bookDesc .literature__container__bookDesc--info:hover {
    border: 2px solid #212529;
    background-color: darkgray;
    color: #212529; }

.literature .rowReverse {
  flex-direction: row-reverse; }
  .literature .rowReverse .literature__container__bookDesc--info {
    position: absolute;
    left: 12%; }

.showMain .showMain__section {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  justify-content: left;
  background-color: rgba(0, 0, 0, 0.6); }

.showMain .showMain__section--video {
  border: 10px #212529 ridge;
  background-image: linear-gradient(to right, #212529, #666666); }

.showMain .showMain__section--description {
  color: white;
  display: inline-block;
  width: 600px;
  padding: 40px; }

@font-face {
  font-family: "Parisienne-Regular";
  src: url(../fonts/Parisienne/Parisienne-Regular.ttf); }

.subtitlePages {
  font-family: Parisienne-Regular;
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 3px black;
  text-align: center;
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); }
