.biography {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 50px;
    max-width: 1248px;
    margin-bottom: 90px;

    .biography__title {
        @include titles($titleSize - .5rem);
        color: white;
        padding: 20px;
        border-bottom: 2px solid white;
    }

    .biography__paragraph {
        font-size: 15px;
        color: rgb(226, 226, 226);
        text-shadow: 5px 5px 8px black;
        padding: 15px 0px 25px 0px;

    }
}