body {
    background-image: url("../media/fondo.png");
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;

    header {
        background-color: #0a0701;
    }

    .header__banner {
        background-image: url("../media/header.jpg");
        position: relative;
        height: 250px;
        display: flex;
        align-items: center;
        align-self: center;
        justify-self: center;
        border-bottom: 2px solid black;
    }
    

   

    .header__navBar {
        width: 100%;
    }

    .title {
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;

        .title--h1 {
        animation-name: titleAnimation;
        animation-duration: 2s;
        position: absolute;
        top: 160px;
        left: 5%;
        
    }

    @keyframes titleAnimation {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 100%
        }
    }
    }

    
}