@media (max-width: 4000px) {
    .title--h1  {
        @include titles($titleSize);
    }
    .main__homeParagraph {
        font-size: 2rem;
    }
}

@media (min-width: 1450px) {
    .header__banner {
        background-repeat: no-repeat;
        width: 1450px;
        margin-left: -1450px;
        left: 100%;
    }
}

@media (max-width: 1224px) {
    .literature {
        .literature__container {
            display:flex;
            align-items: center;
            flex-direction: column !important; 
        }
        
    
        
        .literature__container--bookImg {   
            img {
                margin-bottom: 50px;
                left: 0px;
            }
        }
    
    
    
        .literature__container--bookDesc{
            text-align: justify;
            margin-top: 50px;
        }
    
        .literature__container--info {
            position: absolute;
            width: 120px;
            left:42.5vw;
            top: 300px;
        }
    
        .rowReverse {
            flex-direction: column;

        }
    }
}

@media (max-width: 720px) {

    .header__banner {
        height: 160px;
    }

    .title--h1 {
        margin: 0;
        font-size: 2.5rem;
    }

    .main__cover--carouselImage {
        width: 300px;
    }

    .main__homeParagraph {
        font-size: 1.3rem;
        padding: 6px;
    }

    .footer__list--icons {
        width: 20px;
        padding: 1px;
    }

    .literature__container--bookImg {   
        img {
            margin-bottom: 50px;
            left: -50px;
        }
    }

}

@media (max-width: 350px) {
    .title--h1 {
        font-size: 2rem;
    }

    .main__cover--carouselImage {
        width: 150px;
    }
    .main__homeParagraph {
        font-size: 1.4rem;
    }

    .showMain__section--video {
        width: 150px;
    }

}

