@media (max-width: 1224px) {
    .literature {
        .literature__container {
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column !important; 
        }
        
    
        
        .literature__container--bookImg {   
            img {
                margin-bottom: 50px;
            }
        }
    
    
    
        .literature__container--bookDesc{
            text-align: justify;
            margin-top: 50px;
        }
    
        .literature__container--info {
            position: absolute;
            left:0;
            right: 0;
            bottom: 50px;
        }
    
        .rowReverse {
            flex-direction: column;
    
            .literature__container--info{
                left: 0;
            }
        }
    }
}

@media (max-width: 720px) {

    .header__banner {
        height: 160px;
    }

    .header__banner--title {
        margin: 0;
        font-size: 2.5rem;
    }

    .main__cover--carouselImage {
        width: 300px;
    }

    .main__homeParagraph {
        font-size: 1.3rem;
        padding: 6px;
    }

    .footer__list--icons {
        width: 20px;
        padding: 1px;
    }

}

@media (max-width: 350px) {
    h1 {
        padding: 0px;
    }

    .main__cover--carouselImage {
        width: 150px;
    }
}

@media (min-width: 1450px) {
    .header__banner {
        background-repeat: no-repeat;
        width: 1450px;
        margin-left: -1450px;
        left: 100%;

        .header__banner--title {
            position: relative;
        }
    }
}